<mat-sidenav #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon></mat-icon></button>
	<mat-nav-list>
		<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
			<span class="full-width" *ngIf="isExpanded || isShowing">Menu</span>
			<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing"></mat-icon>
		</mat-list-item>
		<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
			<a mat-list-item href="/menu">Main view</a>
			<a mat-list-item href="/contact">Contact</a>
		</div>
	</mat-nav-list>
</mat-sidenav>
